/* 一括で全ての要素の余白をゼロに指定 */
* {
    padding: 0;
    margin: 0;
  }
  
  a:link {
    color: #0000ff;
    text-decoration: underline;
  }
  
  a:visited {
    color: #990099;
    text-decoration: underline;
  }
  
  a:hover {
    color: #ff0000;
    text-decoration: underline;
  }
  
  /* ---------------------------------------- フォントスタイル フォントサイズ */
  body {
    font-size: 0.85em;
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  /* ---------------------------------------- レイアウトに関する指定 */
  
  #wrapper {
    text-align: left;
    margin: 1em auto 0;
    width: 800px;
  }
  
  #header {
    padding: 20px 20px 0px;
  }
  
  #globalnavi {
    width: 100%;
    position: relative;
  }
  
  #container {
    width: 100%;
    padding-top: 1em;
  }
  
  /* 実質700px */
  #contents { padding: 0 50px 2em; }
  
  #footer {
    padding: 1em 0 1.5em;
  }
  
  
  /* ---------------------------------------- #header内の指定 */
  
  /* -- 見出しレベル1 -- */
  h1 {
    text-align: right;
    font-size: 1em;
    font-weight: normal;
  }
  
  /* -- 企業名 ショップ名 サイト名 -- */
  .logo {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #0099ff;
  }
  
  .logo a{
    text-decoration: none;
    color: #0099ff;
    background-color: #ffffff;
  }
  
  .logo a:hover{
    text-decoration: none;
    color: #000066;
    background-color: #ffffff;
  }
  
  /* -- 概要 -- */
  .description {}
  
  /* ---------------------------------------- #globalnaviの指定 */
  
  #globalnavi ul {
    width: 800px;
    list-style-type: none;
    position: absolute;
    background-color: #0099ff;
  }
  
  #globalnavi li {
    width: auto;
    float: left;
    border-right: 2px groove #cccccc;
  }
  
  #globalnavi li a {
    text-decoration: none;
    display: block;
    width: auto;
    padding: 0.5em 1em;
    background-color: #0099ff;
    color: #000000;
  }
  
  #globalnavi li a:hover {
    background-color: #99ffff;
    color: #ff0000;
  }
  
  /* ---------------------------------------- #contents内の指定 */
  
  /* -- 見出し -- */
  h2,h3,h4,h5,h6 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    padding: 5px 0 5px 5px;
    border-left: 10px solid #000000;
    border-bottom: 1px solid #000000;
  }
  
  h3,h4,h5,h6 { margin-top: 2.5em; }
  
  /* -- 文字 -- */
  #contents p {
    line-height: 1.6em;
    margin-bottom: 0.5em;
  }
  
  /* -- パン屑リスト -- */
  #contents .topic-path {
    line-height: 1em;
    margin-bottom: 2em;
  }
  
  /* -- 以下 リスト関係 -- */
  #contents dl { margin: 1em 0; }
  
  #contents dt {
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px dotted #666666;
  }
  
  #contents dd { margin-bottom: 2em; }
  
  
  #contents ul { margin: 1em 0 1em 20px; }
  #contents ol { margin: 1em 0 1em 30px; }
  #contents li { margin-bottom: 0.5em; }
  
  /* ---------------------------------------- #footer内の指定 */
  #footer p { text-align: center; }
  
  /* 以下 CSSデザインサンプルクレジット部分 */
  #cds{ display: none; }